<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	This game was made for
	<a href="http://globalgamejam.org/">Global Game Jam 2012</a> by
	<a href="mailto:darryl@dbarnhart.ca">Darryl Barnhart</a>. Ample
	credit goes to the <a href="http://railstutorial.org/">Rails Tutorial</a>
	guy. You'll notice a striking similarity between this app and the tutorial demo.
	This is not a coincidence.
</p>
<p>
	It uses Ruby on Rails and WebGL to deliver a unique online gaming experience, or
	some crap like that. Anyways, you can play it if you want... I wouldn't.
</p>
<p>
	The objective is to create a planetary scale industrial empire, so you can
	gather the resources to build an inter-planetary colonial vessel. Why would
	you want this? Your empire will eventually render the planet inhospible due
	to its unrelenting decadence, avarice and greed. So you need to find a new
	place to ruin, before moving on once again...
</p>