<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Made by <a href="mailto:darryl@dbarnhart.ca">Darryl Barnhart</a>.
</p>
<p>
	If you find bug or have a problem; frankly, my dear, I don't give a damn.
</p>